<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Loja de Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin-bottom">
  <ion-list>
    <ion-item *ngFor="let book of this.books;">
      <ion-card>
        <ion-card-header>
          <img src="{{book.cover}}" width="50%">
          <ion-card-title>
            {{book.title}}
          </ion-card-title>
          <ion-card-subtitle>
            {{book.author}}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-text color="dark">
              <b>ano: {{book.year}}</b>
            </ion-text> <br />
            <ion-text color="dark">
              <b>editora {{book.publisher}}</b>
            </ion-text> <br />
            <ion-text color="dark">
              <b>quantidade: {{book.quantity}}</b>
            </ion-text> <br />
            <ion-text color="dark">
              <b>preço {{book.price}}</b>
            </ion-text> <br />
            <ion-button color="primary" (click)="this.addToCart(book)">
              <b>Comprar </b>
            </ion-button> <br />
          </ion-list>
          <!-- <ion-footer> <ion-label> <font size="1"> Atualizado: {{ c.updated | date: 'dd/MM/yyyy hh:mm a' }} - Fonte: <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">WHO</a> </font></ion-label></ion-footer> -->
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>


